#---------------------------------#
#      General configuration      #
#---------------------------------#

image: Visual Studio 2015

version: {build}

branches:
  only:
    - master
    - develop

#---------------------------------#
#       Build configuration       #
#---------------------------------#

before_build:
- ps: cd Source

build_script:
- ps: .\generate.ps1

artifacts:
- path: Source\WbTstr.Drivers.Chrome.*.nupkg
  name: WbTstr.Drivers.Chrome
