#---------------------------------#
#      General configuration      #
#---------------------------------#

image: Visual Studio 2015

version: 0.0.0.{build}

branches:
  only:
    - master
    - develop

#---------------------------------#
#       Build configuration       #
#---------------------------------#

before_build:
- cmd: cd .\Scripts
- ps: .\download-executable.ps1
- cmd: ..\.

build:
  project: Source\WbTstr.Drivers.Chrome.sln
  verbosity: minimal
